
// Item list =======================================================

table
  - each d in data
    tr
      td= d.name
      td
        img(src=d.path)
      td= "RM" + d.price
      td
        a(href="/buy") Buy

// =================================================================
