!!! 5

html
  head
    title EzyPzy - Snap.Share.Sell

  body
    h1 EzyPzy - Snap.Share.Sell
    p Snap a photo with your iPhone, send to Facebook, Twitter or Flickr - it's all easy peasy. It's online shopping, reinvented.

    #content!=body


