
h3 Login

// Login Form ==========================================
form(method="post", action="/login")

  p Name :
    input(type="text", name="name")

  p Email :
    input(type="text", name="email")

  input(type="submit", value="Login")

// ============================================================
