
h3 Register

// Registration Form ==========================================
form(method="post", action="/register")

  p Name :
    input(type="text", name="name")

  p Email :
    input(type="text", name="email")

  input(type="submit", value="Register")

// ============================================================
